/* Main patch */
.ClipManager ._1UHcyIKxLXAv4x6mGw4EW3 .IZLKpdf1TW21itUMICab8 {
  position: fixed;
  top: 0;
  left: 0;
  /* 99.9 instead of 100 leads to pixel-perfect scaling on the deck display for some reason */
  width: 99.9vw;
  z-index: 10000;
}

/* Make sure popup Menus are still visible */
.FullModalOverlay {
  z-index: 10001;
}
